Daily_Weather_Report.json
{
  "name": "Daily Weather Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "24330288-fb97-46fb-ac67-1f3d3f56d847",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=Dallas,US"
            },
            {
              "name": "units",
              "value": "=metric"
            },
            {
              "name": "appid",
              "value": "c804c2116040105b6dd2efa88c125029"
            }
          ]
        },
        "options": {}
      },
      "id": "d964eb16-c9fc-4254-908d-cd662f79feb5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcf97535-3bd6-45a4-a377-e925b738879b",
              "name": "city",
              "value": "={{$json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "df5a4ef1-666f-47b1-b573-27c6ea9e6dce",
              "name": "description",
              "value": "={{$json[\"weather\"][0][\"description\"]}}",
              "type": "string"
            },
            {
              "id": "eb042294-e2fb-45a2-8429-e34da9e73839",
              "name": "temp",
              "value": "={{$json[\"main\"][\"temp\"]}}",
              "type": "string"
            },
            {
              "id": "4dfaf259-0edb-4da2-9e51-235ed369a35e",
              "name": "feels_like",
              "value": "={{$json[\"main\"][\"feels_like\"]}}",
              "type": "string"
            },
            {
              "id": "664d5dfe-a9e4-4007-b0b1-5ab82a1ba9ef",
              "name": "emailBody",
              "value": "=Today's weather in {{$json[\"name\"]}}: {{$json[\"weather\"][0][\"description\"]}}, temp {{$json[\"main\"][\"temp\"]}}°C (feels like {{$json[\"main\"][\"feels_like\"]}}°C).\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f5a4c808-368e-4d8b-b31f-4fbb291500e9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        460
      ]
    },
    {
      "parameters": {
        "sendTo": "saket.moduga.609@gmail.com",
        "subject": "=Daily Weather in {{$json[\"city\"]}}",
        "emailType": "text",
        "message": "={{$json[\"emailBody\"]}}",
        "options": {}
      },
      "id": "9f88e823-7bd5-4d35-9ffd-5424ec2a913d",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1140,
        460
      ],
      "webhookId": "90d3e3d1-ba4c-41de-a428-f86d101b18cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "RD8nQ0wHV0Yfnyhv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2cc3d6dc-b78b-4a63-82cf-02f2855fb08a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "092f7dab670ebac95b10ee8a9a7874e7d457d5d4883f7fc4223493cfe3e66d75"
  },
  "id": "ja0V0fc0kFI35L3T",
  "tags": []
}