Website_Uptime_Monitor.json
{
  "name": "Website Uptime Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "c8204ed6-cf2f-40e8-8632-a9379ebcd65e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        820,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e8e73d2-05c5-498b-8fe0-201a6758cd92",
              "name": "urls",
              "value": "[\"https://saketmoduga609.wixsite.com/my-site\"]",
              "type": "array"
            },
            {
              "id": "c7eb65ed-bdfa-4016-9240-71a1078c465f",
              "name": "readableTime",
              "value": "={{ $json['Readable time'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51db9ace-f2c2-4fc9-a07d-69b57df02b7e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "id": "7ed1dccc-2d21-415d-b6ae-86f72d33d599",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1260,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"urls\"]}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a35c13b0-71d4-4020-8c1e-24a3747d0244",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        400
      ],
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c21fc1c-5371-4c5a-9e75-4e68c4ba2f9d",
              "leftValue": "={{$node[\"HTTP Request\"].json[\"statusCode\"]}} ",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a92e0c24-07f6-4d5d-97c3-10158b5483e6",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "saket.moduga.609@gmail.com",
        "subject": "=Uptime Alert: {{ $node[\"Split Out\"].json[\"urls\"] }}",
        "emailType": "text",
        "message": "=Your site {{ $node[\"Split Out\"].json[\"urls\"] }} returned status {{ $node[\"HTTP Request\"].json[\"statusCode\"] }} at {{$node[\"Edit Fields\"].json[\"readableTime\"]\n }}",
        "options": {}
      },
      "id": "15fe2cc0-270e-48fe-b35e-74e48aa19347",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1840,
        360
      ],
      "webhookId": "bf6a4a48-0819-4b33-848b-6e14440e549d",
      "credentials": {
        "gmailOAuth2": {
          "id": "RD8nQ0wHV0Yfnyhv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a38341d-fd51-40c1-adac-a97bc707ceff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "092f7dab670ebac95b10ee8a9a7874e7d457d5d4883f7fc4223493cfe3e66d75"
  },
  "id": "s3piFjnc0PcQ9uIl",
  "tags": []
}